<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<div id ="header"><h1>&#9733 GoldStar Movies &#9733 </h1></div>
<div class="topnav">
   <a class="active" href="#home" onclick="window.location.href = '/homepage';">Home</a>
  <a href="#about"onclick="window.location.href = 'about.html';">About</a>
  <a href="#contact">Contact</a>
    <button id = "searchbutton" onclick="window.location.href = 'searchresults.html';">&#x1F50D</button>
  <input type="text" placeholder=" &#9733 Search Movies &#9733" style: background-color: "#262626">
</div>

<!-- Black center sqaure box -->
<div id = "bodyp" align = "center">
 <!-- Metadata text -->
  <div class="paragraphs">
        <h1>Metadata<br /></h1>
            <h2>URL</h2>
            <p><a href="https://www.kaggle.com/tmdb/tmdb-movie-metadata#tmdb_5000_movies.csv" style="color:dodgerblue">https://www.kaggle.com</a> </p>
            <h2>Date Downloaded</h2>
            <p>Oct. 7, 2019 </p>
            <h2>Authorship</h2>
            <p>The Movie Database (TMDb) </p>
            <h2>Dataset version</h2>
            <p>TMDB 5000 Movie Dataset Version 2 </p>
            <h2>Time period, geography, scope covered</h2>
            <p>Last updated 2017-09-27<br />
                Date created 2016-08-29 <br />
                5000 movies
            </p>
            <h2>Location of dataset</h2>
            <p>https://www.kaggle.com/tmdb/tmdb-movie-metadata#tmdb_5000_movies.csv </p>
            <h2>Data formats</h2>
            <p>csv </p> 
            <h2>Notes</h2>
            <p>Beautiful tabular data with headings </p>
            <h2>Terms of Use</h2>
            <p>Public use </p>
            <h2>Restrictions</h2>
            <p>none </p>
            <h2>Suggested Citation</h2>
            <p>The Movie Database API </p>
   </div>  
</div>
    
<div class="footer">
  <p>Made by Christopher Kitchen, Christian Heuchert and Zitian "James" Yue</p>
</div>



</body>
</html>
