<!DOCTYPE html>
<html>
<head>
    
<!--This section is to set up this page and reference corresponding style sheet in form of css file.-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    
<!--This section is to create a big header at the top center of this page.-->
<div id ="header"><h1>&#9733 GoldStar Movies &#9733 </h1></div>
    
<!--This section is to create the navigation bar and a search bar at the top of this page.-->
<div class="topnav">
    <a class="active" href="#home" onclick="window.location.href = '/';">Home</a>
    <a href="#about"onclick="window.location.href = '/about';">About</a>
    <a href="#contact">Contact</a>
    

  
    <button id = "searchbutton" onclick="window.location.href = 'searchresults.html';">&#x1F50D</button>
  <input type="text" placeholder=" &#9733 Search Movies &#9733" style: background-color: "#262626">
</div>
<div class="menu">
          <div class="dropdown-content">
                <div id = bold>Search by Rating</div>
                    <button class="MenuButton">Search by Rating</button>
                 <div id = bold>Search by New Releases</div>
                    <button class="MenuButton">Search by New Releases</button>
                 <div id = bold>Search by Genre</div>
                <button class="MenuButton"a href="#Action"onclick="window.location.href = '/Action';">Action</button>
                <button class="MenuButton"a href="#Adventure"onclick="window.location.href = '/Adventure';">Adventure</button>
                <button class="MenuButton"a href="#Animation"onclick="window.location.href = '/Animation';">Animation</button>
                <button class="MenuButton"a href="#Comedy"onclick="window.location.href = '/Comedy';">Comedy</button>
                <button class="MenuButton"a href="#Crime"onclick="window.location.href = '/Crime';">Crime</button>
                <button class="MenuButton"a href="#Documentary"onclick="window.location.href = '/Documentary';">Documentary</button>
                <button class="MenuButton"a href="#Drama"onclick="window.location.href = '/Drama';">Drama</button>
                <button class="MenuButton"a href="#Family"onclick="window.location.href = '/Family';">Family</button>
                <button class="MenuButton"a href="#Fantasy"onclick="window.location.href = '/Fantasy';">Fantasy</button>
                <button class="MenuButton"a href="#Foreign"onclick="window.location.href = '/Foreign';">Foreign</button>
                <button class="MenuButton"a href="#History"onclick="window.location.href = '/History';">History</button>
                <button class="MenuButton"a href="#Horror"onclick="window.location.href = '/Horror';">Horror</button>
                <button class="MenuButton"a href="#Music"onclick="window.location.href = '/Music';">Music</button>
                <button class="MenuButton"a href="#Mystery"onclick="window.location.href = '/Mystery';">Mystery</button>
                <button class="MenuButton"a href="#Romance"onclick="window.location.href = '/Romance';">Romance</button>
                <button class="MenuButton"a href="#Science Fiction"onclick="window.location.href = '/Science Fiction';">Science Fiction</button>
                <button class="MenuButton"a href="#Thriller"onclick="window.location.href = '/Thriller';">Thriller</button>
                <button class="MenuButton"a href="#TV Movie"onclick="window.location.href = '/TV Movie';">TV Movie</button>
                <button class="MenuButton"a href="#War"onclick="window.location.href = '/War';">War</button>
                <button class="MenuButton"a href="#Western"onclick="window.location.href = '/Western';">Western</button>
                
                 <div id = bold>Search by Language</div>
                <button class="MenuButton"a href="#af"onclick="window.location.href = '/af';">Afrikaans (af)</button>
                <button class="MenuButton"a href="#cn"onclick="window.location.href = '/cn';">Chinese (cn)</button>
                <button class="MenuButton"a href="#da"onclick="window.location.href = '/da';">Danish (da)</button>
                <button class="MenuButton"a href="#de"onclick="window.location.href = '/de';">German (de)</button>
                <button class="MenuButton"a href="#el"onclick="window.location.href = '/el';">Greek (el)</button>
                <button class="MenuButton"a href="#en"onclick="window.location.href = '/en';">English (en)</button>
                <button class="MenuButton"a href="#es"onclick="window.location.href = '/es';">Spanish (es)</button>
                <button class="MenuButton"a href="#fa"onclick="window.location.href = '/fa';">Farsi (fa)</button>
                <button class="MenuButton"a href="#fr"onclick="window.location.href = '/fr';">French (fr)</button>
                <button class="MenuButton"a href="#he"onclick="window.location.href = '/he';">Hebrew (he)</button>
                <button class="MenuButton"a href="#hi"onclick="window.location.href = '/hi';">Hindi (hi)</button>
                <button class="MenuButton"a href="#hu"onclick="window.location.href = '/hu';">Hungarian (hu)</button>
                <button class="MenuButton"a href="#id"onclick="window.location.href = '/id';">Indonesian (id)</button>
                <button class="MenuButton"a href="#is"onclick="window.location.href = '/is';">Icelandic (is)</button>
                <button class="MenuButton"a href="#it"onclick="window.location.href = '/it';">Italian (it)</button>
                <button class="MenuButton"a href="#ja"onclick="window.location.href = '/ja';">Japanese (ja)</button>
                <button class="MenuButton"a href="#ko"onclick="window.location.href = '/ko';"> Korean (ko)</button>
                <button class="MenuButton"a href="#ky"onclick="window.location.href = '/ky';">Kyrgyz (ky)</button>
                <button class="MenuButton"a href="#nb"onclick="window.location.href = '/nb';">Norwegian (nb)</button>
                <button class="MenuButton"a href="#nl"onclick="window.location.href = '/nl';">Dutch (nl)</button>
                <button class="MenuButton"a href="#pl"onclick="window.location.href = '/pl';">Polish (pl)</button>
                <button class="MenuButton"a href="#ps"onclick="window.location.href = '/ps';">Pashto (ps)</button>
                <button class="MenuButton"a href="#pt"onclick="window.location.href = '/pt';">Portuguese (pt)</button>
                <button class="MenuButton"a href="#ro"onclick="window.location.href = '/ro';">Romanian (ro)</button>
                <button class="MenuButton"a href="#ru"onclick="window.location.href = '/ru';">Russian (ru)</button>
                <button class="MenuButton"a href="#sl"onclick="window.location.href = '/sl';">Slovenian (sl)</button>
                <button class="MenuButton"a href="#sv"onclick="window.location.href = '/sv';">Swedish (sv)</button>
                <button class="MenuButton"a href="#ta"onclick="window.location.href = '/ta';">Tamil (ta)</button>
                <button class="MenuButton"a href="#te"onclick="window.location.href = '/te';">Telugu (te)</button>
                <button class="MenuButton"a href="#th"onclick="window.location.href = '/th';">Thai (th)</button>
                <button class="MenuButton"a href="#tr"onclick="window.location.href = '/tr';">Turkish (tr)</button>
                <button class="MenuButton"a href="#vi"onclick="window.location.href = '/vi';">Vietnamese (vi)</button>
                <button class="MenuButton"a href="#zh"onclick="window.location.href = '/zh';">Chinese (zh)</button>    
  

    
              </br><button class="SubmitButton"a href="#submit"onclick="window.location.href = '/submit'; style = 'margin-left: 50px;'">Submit Request</button>
    
    
</div>
<iframe src='/results', height="500" width="700" style="border-color:red; margin-left: 500px; overflow-horizontal: hidden; position: absolute;"></iframe>
</div>
<div class="footer">
  <p>Made by Christopher Kitchen, Christian Heuchert and Zitian "James" Yue</p>
</div></body></html>
