<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' type='text/css' href='style.css'/>
</head>
<body>
<div id ="header"><h1>&#9733 GoldStar Movies &#9733 </h1></div>
<div class="topnav">
   <a class="active" href="#home" onclick="window.location.href = 'homepage1.html';">Home</a>
  <a href="#about"onclick="window.location.href = 'about.html';">About</a>
  <a href="#contact">Contact</a>
    <button id = "searchbutton" onclick="window.location.href = 'searchresults.html';">&#x1F50D</button>
  <input type="text" placeholder=" &#9733 Search Movies &#9733" style: background-color: "#262626">
</div>

<!-- Black center sqaure box -->
<div id = "bodyp" align = "center">
 <!-- Metadata text -->
  <div class="paragraphs">

    {% block content %}
     <table>
        <tr><th>Name</th><th>Rating</th></tr>
        {% for movie in movies %}
            <tr><td>{{ movie }}</td></tr>
        {% endfor %}
     </table>
     {% endblock %}        
   </div>  
</div>
    
<div class="footer">
  <p>Made by Christopher Kitchen, Christian Heuchert and Zitian "James" Yue</p>
</div>



</body>
</html>
