  
<!DOCTYPE html>
<html>
<head>
    
<!--This section is to set up this page and reference corresponding style sheet in form of css file.-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    
<!--This section is to create a big header at the top center of this page.-->
<div id ="header"><h1>&#9733 GoldStar Movies &#9733 </h1></div>
    
<!--This section is to create the navigation bar and a search bar at the top of this page.-->
<div class = "topnav">
	<ul class = "navbar-nav">
		<li class = "nav-item active">
			<a class = "nav-link" href = "startpage.html">Home</a>
		</li>
		<li class = "nav-item">
			<a class = "nav-link" href = "about.html">About</a>
		</li>
		<li class = "nav-item">
			<a class = "nav-link" href = "search.html">Search</a>
		</li>
		<li class = "nav-item">
			<a class = "nav-link disabled" href = "#">WIP</a>
		</li>
	</ul>
</div>

<div class = "side">
	<div class = "left">
		<p>Thousands</p>
		<p>Of</p>
		<p>Moives!!!</p>
	</div>
	<div class = "right">
		<p>Customize</p>
		<p>Your</p>
		<p>Options!!!</p>
	</div>
</div>

<div class = "slideshow-container">
	
	<div class = "mySlides fade">
		<div class = "numbertext">1 / 3</div>
		<img src = {{ url_for('static', filename = 'zstarwars.jpg')}}" style = "width: 100%; height: 550px;">
		<div class = "text">Star War</div>
	</div>
	
	<div class = "mySlides fade">
		<div class = "numbertext">2 / 3</div>
		<img src = "{{ url_for('static', filename = 'WaterFall.jpg')}}" style = "width: 100%; height: 550px;">
		<div class = "text">Carleton Waterfall</div>
	</div>
	
	<div class = "mySlides fade">
		<div class = "numbertext">3 / 3</div>
		<img src = "{{ url_for('static', filename = 'BaldSpot.jpg')}}.jpg" style = "width: 100%; height: 550px;">
		<div class = "text">Carleton Bald Spot</div>
	</div>
	
	<a class = "prev" onclick = "plusSlides(-1)">&#10094</a>
	<a class = "next" onclick = "plusSlides(1)">&#10095</a>
	
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
<!--This section is to create a side bar showing hot talks about movies on reddit at the right of this page right under the popular genres bar.-->
<!--
<div class="sidenav2">
    <script src='https://redditjs.com/post.js' data-url='https://www.reddit.com/r/movies/' data-height= '300' data-width='300' data-theme='dark' data-show-submit='true'></script>
</div>
-->

<!--This section is to create a footer showing developer of this page at the bottom of this page.-->
</div>
<div class="footer">
  <p>Made by Christopher Kitchen, Christian Heuchert and Zitian "James" Yue</p>
</div>



</body>
</html>
